:root {
    --color-base-white: #FFFFFF;
    --color-F9F9F9: #F9F9F9;
    --color-F4F0EC: #F4F0EC;
    --color-EBEBEB: #EBEBEB;
    --color-D9D9D9: #D9D9D9;
    --color-C4C4C4: #C4C4C4;
    --color-D8A976: #D8A976;
    --color-CDA274: #CDA274;
    --color-888888: #888888;
    --color-C76904: #C76904;
    --color-4D5053: #4D5053;
    --color-363B41: #363B41;
    --color-292F36: #292F36;
    --color-141414: #141414;
    --color-base-black: #000000;
}