* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
select,
button {
    border: none;
    outline: none;
    background-color: transparent;
}

button {
    cursor: pointer;
}