.faq-page {
    .hero {
        &__container {
            padding: 178px 0 90px 0;
            margin-bottom: 136px;
            text-align: center;
            background-image: url("../../img/faq/hero-img.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__title {
            font: var(--page-title-font);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: var(--color-base-white);
        }
    }

    .eqa {

        &__title {
            text-align: center;
            margin-bottom: 50px;
        }

        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .eqa__accordion {
            max-width: 585px;
        }

        //     &__content-item {
        //         display: flex;
        //         align-items: center;
        //         justify-content: space-between;
        //         width: 100%;
        //     }

        //     &__content-item-text {
        //         display: none;
        //     }

        //     .accordion--active {
        //         display: block;
        //     }
        // }


    }

    .eqa__accordion-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .eqa__accordion-text {
        display: none;
    }

    .accordion-active {
        display: block;
    }
}