input {
    // padding-bottom: 11px;
    border-bottom: 1px solid var(--color-base-black);
    width: 100%;
    color: var(--color-base-black);
}

input::placeholder {
    font: var(--form-input-font);
    color: var(--color-4D5053);
    letter-spacing: 0.3px;
}