.success {
    padding-bottom: 373px;
    align-items: center;

    @media (max-width: $media-1050) {
        padding-bottom: 120px;
      }
}

.success__container {
    max-width: 1082px;
    padding: 0;
}

.success__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: $media-md) {
        padding: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.success__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    padding-right: 54px;
    border-right: 1px solid var(--color-CDA274);

    @media (max-width: $media-lg) {
        padding-right: 15px;
        padding-left: 15px;
        border-right: 1px solid var(--color-CDA274);
    }
}

.success__item:last-child {
    border-right: none;
}

.success__number {
    font: var(--big-numbers-font);
    color: var(--color-CDA274);
}

.success__text {
    letter-spacing: 0.22px;
}